

@font-face {
    font-family: 'oakes-grotesk-regular';
    src: url('../assets/fonts/oakes-grotesk-regular.woff2') format('woff2');
  }

$kin-teal: #167C80;
$kin-green: #007055;
$kin-gray: #545C52;
$kin-black: #212121;
$kin-error: #841515;